//colores principales

$color_primario: #f1f6f9;
$color_segundario: #14274e;
$color_segundario2: #394867;
$color_segundario3: #9ba4b4;

//Colores aside
$color_aside:#1a1c20;
$color_aside2: #f9813a;
$color_aside3: #fcf1f1;
$color_aside4: #ffd5cd;

//Color Footer
$color_footer: #393e46;
$color_footer2: #ffd369;
$color_footer3: #eeeeee;
$color_footer4: #222831;